/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2020, 11:04:48 PM
    Author     : Hery
*/


.capp-ph-item {
    direction: ltr;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 15px 15px 15px;
    overflow: hidden;
    margin-bottom: 30px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 2px; }
    .capp-ph-item, .capp-ph-item *,
    .capp-ph-item ::after, .capp-ph-item ::before {
        box-sizing: border-box; }
    .capp-ph-item::before {
        content: " ";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
        z-index: 1;
        width: 500%;
        margin-left: -250%;
        -webkit-animation: cappPhAnimation 0.8s linear infinite;
                animation: cappPhAnimation 0.8s linear infinite;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 54%) 50% 50%; }
    .capp-ph-item > * {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column;
        padding-right: 15px;
        padding-left: 15px; }

  
.capp-ph-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 7.5px; }
  .capp-ph-row div {
    height: 10px;
    margin-bottom: 7.5px;
    background-color: #ced4da; }
  .capp-ph-row .big,
  .capp-ph-row.big div {
    height: 20px;
    margin-bottom: 15px; }
  .capp-ph-row .empty {
    background-color: rgba(255, 255, 255, 0); }

.capp-ph-col-2 {
  flex: 0 0 16.66667%; }

.capp-ph-col-4 {
  flex: 0 0 33.33333%; }

.capp-ph-col-6 {
  flex: 0 0 50%; }

.capp-ph-col-8 {
  flex: 0 0 66.66667%; }

.capp-ph-col-10 {
  flex: 0 0 83.33333%; }

.capp-ph-col-12 {
  flex: 0 0 100%; }

.capp-ph-avatar {
  position: relative;
  width: 100%;
  min-width: 60px;
  background-color: #ced4da;
  margin-bottom: 15px;
  border-radius: 50%;
  overflow: hidden; }
  .capp-ph-avatar::before {
    content: " ";
    display: block;
    padding-top: 100%; }

.capp-ph-picture {
  width: 100%;
  height: 120px;
  background-color: #ced4da;
  margin-bottom: 15px; }


@-webkit-keyframes cappPhAnimation {
  0% {
    transform: translate3d(-30%, 0, 0); }
  100% {
    transform: translate3d(30%, 0, 0); } }

@keyframes cappPhAnimation {
  0% {
    transform: translate3d(-30%, 0, 0); }
  100% {
    transform: translate3d(30%, 0, 0); } }


.capp-remove-before::before {
    display:none!important;
}

.capp-remove-after::after{
    display:none!important;
}