.bg-color-blue {
    background-color: #57889c!important;
}

.bg-color-pink {
    background-color: #ac5287!important;
}

.bg-color-greenlight {
    background-color: #71843f!important;
}

.bg-color-purple {
    background-color: #6e587a!important;
}

.txt-color-white {
    color: #fff!important;
}


.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    -ms-transition-property:     -ms-transform, opacity;
    -o-transition-property:         top, left, opacity;
    transition-property:         transform, opacity;
}

/* Disabling Isotope CSS3 transitions
=================================================================== */

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/* Disable CSS transitions for containers with infinite scrolling
====================================*/
.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}


.well.well-isotope  {
    margin-top:5px;
    margin-bottom:5px;

}

.isotope-filter {
    margin-top:5px;
    margin-bottom:5px;

}

.widget-title .badge {
    top:5px;
}
.isotope-container {
    margin-top:20px;
}

.isotope-container .widget-box{
    margin-bottom:10px;

}

.isotope-container  .item {
    margin: 0px;
    margin-right:15px;


}
.isotope-container  .item .image img{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B6BCBF;
    float: left;
    height: 60px;
    width: 60px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 2px;
}

.isotope-container  .item .meta {
    margin-top: 10px;
    border-top: 1px dashed #B6BCBF;
    padding-top:5px;

}


/**
  * data-grid-list
  */
.data-grid-list-actions{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.data-grid-list-actions>*{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}
.data-grid-list-container{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}
.data-grid-list-item{position:relative;z-index:1;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;border:1px solid transparent;cursor:pointer}
.data-grid-list-item:hover,.data-grid-list-item.focused{border-color:rgba(0,0,0,0.05)}
.data-grid-list-item.focused{z-index:2}
.data-grid-list-item *{-ms-flex-negative:0;flex-shrink:0}
.data-grid-list-item-checkbox{margin:0 !important}
.data-grid-list-item-select-bg{position:absolute;top:0;right:0;bottom:0;left:0;z-index:-1;opacity:0}
.data-grid-list-item-img{background-color:transparent;background-position:center center;background-size:cover}
.data-grid-list-item-name{display:block;overflow:hidden}
.data-grid-list-col-view .data-grid-list-item{margin:0 .25rem .25rem 0;padding:1.25rem 0 1rem 0;width:9rem;text-align:center}
[dir=rtl] .data-grid-list-col-view .data-grid-list-item{margin-right:0;margin-left:.25rem}
.data-grid-list-col-view .data-grid-list-item-img,.data-grid-list-col-view .data-grid-list-item-icon{display:block;margin:0 auto .75rem auto;width:4rem;height:4rem;font-size:2.5rem;line-height:4rem}
.data-grid-list-col-view .data-grid-list-item-level-up{font-size:1.5rem}
.data-grid-list-col-view .data-grid-list-item-checkbox,.data-grid-list-col-view .data-grid-list-item-actions{position:absolute;top:6px}
.data-grid-list-col-view .data-grid-list-item-checkbox{left:6px}
[dir=rtl] .data-grid-list-col-view .data-grid-list-item-checkbox{right:6px;left:auto}
.data-grid-list-col-view .data-grid-list-item-actions{right:6px}
[dir=rtl] .data-grid-list-col-view .data-grid-list-item-actions{right:auto;left:6px}
.data-grid-list-col-view .data-grid-list-item-name{width:100%}
.data-grid-list-col-view .data-grid-list-row-header,.data-grid-list-col-view .data-grid-list-item-changed{display:none}
.data-grid-list-row-view .data-grid-list-row-header,.data-grid-list-row-view .data-grid-list-item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin:0 0 .125rem 0;padding:.25rem 3rem .25rem 2.25em;width:100%}
[dir=rtl] .data-grid-list-row-view .data-grid-list-row-header,[dir=rtl] .data-grid-list-row-view .data-grid-list-item{padding-right:2.25em;padding-left:3rem}
.data-grid-list-row-view .data-grid-list-item-img,.data-grid-list-row-view .data-grid-list-item-icon{display:block;margin:0 1rem;width:2rem;height:2rem;text-align:center;font-size:1.25rem;line-height:2rem}
.data-grid-list-row-view .data-grid-list-item-level-up{font-size:1rem}
.data-grid-list-row-view .data-grid-list-item-checkbox,.data-grid-list-row-view .data-grid-list-item-actions{position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
.data-grid-list-row-view .data-grid-list-item-checkbox{left:10px}
[dir=rtl] .data-grid-list-row-view .data-grid-list-item-checkbox{right:10px;left:auto}
.data-grid-list-row-view .data-grid-list-item-actions{right:10px}
[dir=rtl] .data-grid-list-row-view .data-grid-list-item-actions{right:auto;left:10px}
.data-grid-list-row-view .data-grid-list-item-changed{display:none;margin-left:auto;width:10rem}
[dir=rtl] .data-grid-list-row-view .data-grid-list-item-changed{margin-right:auto;margin-left:0}
.data-grid-list-row-view .data-grid-list-item-name{width:calc(100% - 4rem)}
.data-grid-list-row-view .data-grid-list-row-header{border-bottom:2px solid rgba(0,0,0,0.05);font-weight:bold}
.data-grid-list-row-view .data-grid-list-row-header .data-grid-list-item-name{margin-left:4rem}
[dir=rtl] .data-grid-list-row-view .data-grid-list-row-header .data-grid-list-item-name{margin-right:4rem;margin-left:0}
.default-style .data-grid-list-item-name{color:#4E5155 !important}
.default-style .data-grid-list-item.selected .data-grid-list-item-select-bg{opacity:.15}
@media (min-width: 768px){
	.default-style .data-grid-list-row-view .data-grid-list-item-changed{display:block}
.default-style .data-grid-list-row-view .data-grid-list-item-name{width:calc(100% - 15rem)}
}
@media (min-width: 992px){.default-style .data-grid-list-col-view .data-grid-list-item-checkbox,.default-style .data-grid-list-col-view .data-grid-list-item-actions{opacity:0}
.default-style .data-grid-list-col-view .data-grid-list-item:hover .data-grid-list-item-checkbox,.default-style .data-grid-list-col-view .data-grid-list-item.focused .data-grid-list-item-checkbox,.default-style .data-grid-list-col-view .data-grid-list-item.selected .data-grid-list-item-checkbox,.default-style .data-grid-list-col-view .data-grid-list-item:hover .data-grid-list-item-actions,.default-style .data-grid-list-col-view .data-grid-list-item.focused .data-grid-list-item-actions,.default-style .data-grid-list-col-view .data-grid-list-item.selected .data-grid-list-item-actions{opacity:1}
}
.material-style .data-grid-list-item-name{color:#4E5155 !important}
.material-style .data-grid-list-item.selected .data-grid-list-item-select-bg{opacity:.15}
@media (min-width: 768px){.material-style .data-grid-list-row-view .data-grid-list-item-changed{display:block}
.material-style .data-grid-list-row-view .data-grid-list-item-name{width:calc(100% - 15rem)}
}
@media (min-width: 992px){.material-style .data-grid-list-col-view .data-grid-list-item-checkbox,.material-style .data-grid-list-col-view .data-grid-list-item-actions{opacity:0}
.material-style .data-grid-list-col-view .data-grid-list-item:hover .data-grid-list-item-checkbox,.material-style .data-grid-list-col-view .data-grid-list-item.focused .data-grid-list-item-checkbox,.material-style .data-grid-list-col-view .data-grid-list-item.selected .data-grid-list-item-checkbox,.material-style .data-grid-list-col-view .data-grid-list-item:hover .data-grid-list-item-actions,.material-style .data-grid-list-col-view .data-grid-list-item.focused .data-grid-list-item-actions,.material-style .data-grid-list-col-view .data-grid-list-item.selected .data-grid-list-item-actions{opacity:1}
}


.data-grid-list-actions .btn-group .btn-default,.data-grid-list-actions .input-group-prepend .btn-default,.data-grid-list-actions .input-group-append .btn-default {
    border:0;
}


.loading {
    background:url("../../img/ajax-loader.gif") no-repeat;
    display: none;
    height:150px;
    width:100%;
    background-position: center;
}


.data-grid-list-item.hide {
    display:none;
}
