:root {
    --cres-window-height: 100vh;
    --cres-window-width: 100vw;
    --cres-preloader-size: 300px;
    --cres-preloader-loading-foreground: #C4131F;
    --cres-preloader-loading-background: #555555;
    --cres-preloader-background:#fff;
    --cres-preloader-animation-duration:1s;
}
