#cres-preloader {
    background: var(--cres-preloader-background,--white) no-repeat scroll center center;
    height: 100%;
    left: 0;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
    display: grid;
    place-items: center;

    .preloader-container {
        position: relative;
        width: var(--cres-preloader-size,300px);
        height: var(--cres-preloader-size,300px);
        .preloader-loader {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            border: 10px solid var(--cres-preloader-loading-background,--secondary);
            border-top-color: var(--cres-preloader-loading-foreground,--primary);
            box-sizing: border-box;
            background: transparent;
            animation: cres-preloader-loading var(--cres-preloader-animation-duration) linear infinite;
        }
        img {
            height: auto;
            width: auto;
            max-width: calc(var(--cres-preloader-size,300px) * 0.6);
            max-height: calc(var(--cres-preloader-size,300px) * 0.6);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
@keyframes cres-preloader-loading {
    0% {
        transform: rotate(0deg);
    }
    0% {
        transform: rotate(360deg);
    }
}
