#ignore system files
.DS_Store
Thumbs.db

#ignore application folder, application folder must be another project
application/*

#ignore data domain or org
/data/*

#ignore git bak
/.git.bak

#ignore libs of CPDF
/modules/cresenity/vendor/lib/fonts/Helvetica.afm.php
/modules/cresenity/vendor/lib/fonts/Helvetica-Bold.afm.php
/modules/cresenity/vendor/lib/fonts/Helvetica-Oblique.afm.php
/modules/cresenity/vendor/lib/fonts/Helvetica-BoldOblique.afm.php

#ignore folder logs
/application/logs
/logs/
*/logs/
/temp
/temp/*
/export/
/upload/*
/payment_log/

#ignore netbeans ide config
/nbproject/
*/nbproject/*

#ignore aptana IDE
.project

#ignore the other files
.idea/*
*.iml
composer.json
sftp-config*.json
.well-known
.well-known/*
__sublime_sftp_offset

#SEO
robots.txt

