Options -Indexes

# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Protect application and system files from being viewed
# RewriteCond %{REQUEST_URI} !^/?(wp)/
RewriteCond %{REQUEST_URI} !^/?(modules/.+?/media)/ [NC]

RewriteRule ^(modules|system) - [F,L]
RewriteRule ^(wp)($|/) - [L]
RewriteCond %{REQUEST_URI} !^/?(wp)/

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [PT,L]


RewriteRule ^(.*/)?\.log - [R=404,L]
RewriteRule ^(.*/)?\.git+ - [R=404,L]
RewriteRule ^(.*/)?\.editorconfig - [R=404,L]
RewriteRule ^(.*/)?\.htaccess.sample - [R=404,L]
RewriteRule ^(.*/)?\.php_cs.dist - [R=404,L]
RewriteRule ^(.*/)?Thumbs.db - [R=404,L]
RewriteRule ^(.*/)?\.stylelintrc - [R=404,L]
RewriteRule ^(.*/)?\.prettierrc - [R=404,L]
RewriteRule ^(.*/)?\.eslintrc - [R=404,L]
RewriteRule ^(.*/)?\.eslintignore - [R=404,L]
RewriteRule ^(.*/)?\.htaccess - [R=404,L]
RewriteRule ^(.*/)?_ide_helper.php - [R=404,L]
RewriteRule ^(.*/)?CHANGELOG.md - [R=404,L]
RewriteRule ^(.*/)?package.json - [R=404,L]
RewriteRule ^(.*/)?package-lock.json - [R=404,L]
RewriteRule ^(.*/)?default-capp.sql - [R=404,L]
RewriteRule ^(.*/)?default-capp-chat.sql - [R=404,L]
RewriteRule ^(.*/)?default-capp-oauth2.sql - [R=404,L]
RewriteRule ^(.*/)?default-capp-tracker.sql - [R=404,L]
RewriteRule ^(.*/)?devsuite.php - [R=404,L]
RewriteRule ^(.*/)?index.php.sample - [R=404,L]
RewriteRule ^(.*/)?problem.txt - [R=404,L]
RewriteRule ^(.*/)?server.php - [R=404,L]
RewriteRule ^(.*/)?README.md - [R=404,L]
RewriteRule ^(.*/)?phpcs.xml - [R=404,L]
RewriteRule ^(.*/)?change-log-1.1.log - [R=404,L]
RewriteRule ^cf$ - [R=404,L]
RewriteRule ^(.*/)?cf-manifest.json - [R=404,L]
RewriteRule ^(.*/)?phpstan.neon - [R=404,L]
RewriteRule ^(.*/)?phpstan.neon.dist - [R=404,L]
