/nbproject/private/
/nbproject/*

/*/sessions/
/*/logs/
/*/resources/
/*/json/
/*/lang/
/*/files/


*/config/app.php
*/config/app_setting.php
*/config/database.php
*/config/resources.php
*/config/resource.php
*/config/elastic.php
*/config/storage.php
*/config/renderer.php
*/config/queue.php
*/config/backup.php
*/config/cresenity.php
*/config/assets.php

/vendor
composer.lock


