/nbproject/private/
/nbproject/*
/default/sessions/
/default/logs/
/*/resources/*
/default/resources/
/default/resources/*
/default/iosData/
/default/lang/
/default/files/
/artfiliate/files/



/*
!/default
!/cresenity.php
!/bootstrap.php
!/.gitignore

*/config/api.php
*/config/app.php
*/config/app_setting.php
*/config/database.php
*/config/resources.php
*/config/resource.php
*/config/cookie.php
*.DS_Store

