
/*@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(/media/font/opensans/OpenSans-SemiboldItalic.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/media/font/opensans/OpenSans-Semibold.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/media/font/opensans/OpenSans-Italic.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(/media/font/opensans/OpenSans-Regular.woff) format('woff');
}*/

* {
    outline: none !important;
    -moz-outline: none !important;
}
/**
 *  GLOBAL STYLE
 *  TABLE OF CONTENT
 *  
 *  1. BASE STYLE
 *  2. HELPER
 *      2.1 TYPOGRAPHY
 *      2.1 
 *  3. ELEMENT
 *      3.1 BOX
 *  	3.2 FILEUPLOAD
 *  	3.3 FORM
 *  4. SECTION
 *  	4.1 MAIN HEADER
 *  	4.2 CONTENT HEADER
 *  	4.3 MODAL
 * 
 **/

/* 1.BASE STYLE */
body {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    /*font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    background-color: #2f4050;
    font-size: 14px;
    overflow-x: hidden;
    font-weight: normal;
}

a {
    cursor: pointer;
}
a:hover,
a:focus {
    text-decoration: none;
}

.container {
    width:100%;
}

/* 3.1 BOX HEADER */
.box{} 
    .box .box-header .icon {
        margin-top: 1px;
        margin-right: 8px;
    }
    
    
/* 3.2 FileUpload */
.fileupload .thumbnail {
    display: inline-block;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}
.fileupload-exists .fileupload-new, .fileupload-new .fileupload-exists {
    display: none;
}

/* 3.3 FORM */
.form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
}
.form-control:focus {
    border-color: #3c8dbc;
    box-shadow: none;
}


/* 4.2 CONTENT HEADER */
#breadcrumb {
    background-color: #ffffff;
    margin-left:-15px;
    margin-right:-15px;
    padding: 5px 15px;
    margin-bottom: 10px;
}
    #breadcrumb>a+a:before {
        padding: 0 5px;
        color: #ccc;
        content: "/\00a0";
    }


/*
table
*/

table.dataTable {
    font-size: 14px;
}

.table td {
    vertical-align: middle;
}

table.dataTable thead tr th, 
table.dataTable thead tr td {
    padding-right: 0px !important;
}

.table > thead > tr > th {
    border-bottom: 1px solid #DDDDDD;
    vertical-align: bottom;
    font-weight: bold;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #e7e7e7;
}

.table-bordered {
    border: 1px solid #dddddd;
    border-left: 0;
    border-collapse: separate;
    -webkit-border-radius: 0px;
    -moz-border-radius: 4px;
    border-radius: 0px;
}

.table-bordered thead:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child td{border-top:0;}
.table-bordered thead:first-child tr:first-child th:first-child,.table-bordered tbody:first-child tr:first-child td:first-child{ -webkit-border-radius:0px 0 0 0; -moz-border-radius:0px 0 0 0; border-radius:0px 0 0 0; }
.table-bordered thead:first-child tr:first-child th:last-child,.table-bordered tbody:first-child tr:first-child td:last-child{-webkit-border-radius:0 0px 0 0;-moz-border-radius:0 0px 0 0;border-radius:0 0px 0 0;}
.table-bordered thead:last-child tr:last-child th:first-child,.table-bordered tbody:last-child tr:last-child td:first-child{-webkit-border-radius:0 0 0 0px;-moz-border-radius:0 0 0 0px;border-radius:0 0 0 0px;}
.table-bordered thead:last-child tr:last-child th:last-child,.table-bordered tbody:last-child tr:last-child td:last-child{-webkit-border-radius:0 0 0px 0;-moz-border-radius:0 0 0px 0;border-radius:0 0 0px 0;}


table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50, 50, 50, 0.5);
}

table.dataTable thead .sorting_asc {
    /*background: url('../../img/ittron/sort_asc.png') no-repeat center right;*/
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table .DataTables_sort_icon {

    float: right;

}

div.dataTables_length select {
    width: 75px;
}

/* 4.3 MODAL */
.modal {
    overflow-x: hidden !important;
    overflow-y: visible !important;
}
.modal-body.opened {
    background: #F8F8F8;
}

.modal-header {
    height: 50px;
}
.modal-header h4 {
    margin-top: 0px;
}

.modal-content {
    border-radius: 0px !important;
}
.modal .form-group label {
    margin-left: 20px;
}




/** --- */

/*.navbar-inner {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #222533;
    background-image: -moz-linear-gradient(top, #333333, #222222);
    background-image: -ms-linear-gradient(top, #333333, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
    background-image: -webkit-linear-gradient(top, #333333, #222222);
    background-image: -o-linear-gradient(top, #333333, #222222);
    background-image: linear-gradient(top, #333333, #222222);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25),inset 0 0px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25),inset 0 0px 0 rgba(0, 0, 0, 0.1);
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1); 
}


.navbar-fixed-top, .navbar-static-top {
    background: #222533;
    z-index:5;
    height:50px;

}

.navbar-fixed-top .navbar-inner {
    padding-top:6px;
    background: #222533;

}

.main-inner {
    margin-top:50px;
    background-color: #f3f3f4;
    padding: 0 15px;
    position: relative !important;
}
.main-inner  h1 {
    padding: 5px 0;
}*/
/** --- */






/*.select2-drop, .select2-container .select2-choice, .select2-arrow{
  border-radius: 0px;
  background: #FFF;
}
.select2-arrow {
  background-image: none !important;
  background: #FFF !important;
  border-left: 0px !important;
}
.select2-drop-active, .select2-container-active .select2-choice, .select2-container-active .select2-choices {
  border: 1px solid #d2d6de;
}*/