/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 8, 2018, 3:26:05 AM
    Author     : Hery Kurniawan
*/


.console {
    background: #000;
    color: #ccc;
    white-space: pre-wrap;
    font-family: monospace
}
