@charset "UTF-8";
html[data-bs-theme='dark'] {
    --bs-blue: #435ebe;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #435ebe;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #ced4da;
    --bs-dark: #131313;
    --bs-primary-rgb: 67, 94, 190;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 206, 212, 218;
    --bs-dark-rgb: 19, 19, 19;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 194, 194, 217;
    --bs-body-bg-rgb: 21, 21, 33;
    --bs-font-sans-serif:
        system-ui,
        -apple-system,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        'Noto Sans',
        'Liberation Sans',
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        'Noto Color Emoji';
    --bs-font-monospace:
        SFMono-Regular,
        Menlo,
        Monaco,
        Consolas,
        'Liberation Mono',
        'Courier New',
        monospace;
    --bs-gradient:
        linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.15),
            rgba(255, 255, 255, 0)
        );
    --bs-body-font-family: Nunito;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #c2c2d9;
    --bs-body-bg: #151521;
}
.form-actions {
    padding: 16px 24px;
    background: #f8fafb;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
}
.widget-box {
    background: #fff;
    border: 0;
    background-clip: padding-box;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.03), 0 1px 4px 0 rgba(0, 0, 0, 0.04), 0 3px 1px -2px rgba(0, 0, 0, 0.04);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.03), 0 1px 4px 0 rgba(0, 0, 0, 0.04), 0 3px 1px -2px rgba(0, 0, 0, 0.04);
}
.widget-box .widget-title {
    background-color: #fff;
    background-image: none;
    border-color: #e7eaec;
    border-image: none;
    line-height: 1.54;
    border-width: 0;
    border-bottom-width: 1px;
    color: inherit;
    margin-bottom: 0;
    padding: 0.875rem 1.5rem;
    min-height: 48px;
    border-radius: calc(0.125rem - 0px) calc(0.125rem - 0px) 0 0;
    border-color: rgba(24, 28, 33, 0.06);
}
.widget-box.widget-table .widget-title {
    border-width: 1px 1px 1px 1px;
}
.widget-box .widget-title span.icon {
    border-right: 0;
    margin: 0 8px 7px 0;
    padding: 0;
    opacity: 1;
}
.widget-box .widget-title.with-elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.widget-box .widget-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    line-height: inherit;
}
.widget-box .widget-title .buttons {
    float: right;
}
.widget-box .widget-content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem;
    background-color: #fff;
    color: inherit;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.widget-box:not(.widget-table) > .widget-content.nopadding {
    padding: 0;
}
.widget-box .widget-footer {
    padding: 0.875rem 1.5rem;
    background-color: transparent;
    border-top: 1px solid rgba(24, 28, 33, 0.06);
    border-color: rgba(24, 28, 33, 0.06);
}
.widget-box .widget-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}
.widget-box .widget-footer.with-elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.widget-box .widget-footer h5 {
    margin: 0;
}
.dropdown-item.active a, .dropdown-item:active a {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: var(--bs-dropdown-link-active-bg);
}
.form-actions {
    padding: 17px 20px 18px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: #eee;
    border-top: 1px solid #ddd;
}

/* nestable */

.dd-handle {
    background-image: none !important;
    background: #fff !important;
    height: 46px !important;
    line-height: 35px !important;
}
.dd-handle:hover {
    color: inherit !important;
}
.dd-handle .btn-group {
    margin-top: 0;
}
.dd-item .btn-group {
    position: absolute;
    top: 7px;
    right: 7px;
}

/* Dark Theme */
html[data-bs-theme='dark'] .widget-box {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: 1px;
    --bs-card-border-color: rgba(0, 0, 0, 0.125);
    --bs-card-border-radius: 0.7rem;
    --bs-card-box-shadow: -8px 12px 18px 0 rgba(25, 42, 70, 0.13);
    --bs-card-inner-border-radius: calc(0.7rem - 1px);
    --bs-card-cap-padding-y: 1.5rem;
    --bs-card-cap-padding-x: 1.5rem;
    --bs-card-cap-bg: #1e1e2d;
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #1e1e2d;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;

    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}
html[data-bs-theme='dark'] .widget-box .widget-title {
    background-color: var(--bs-card-bg);
    color: var(--bs-body-color);
}
