.dropdown-menu > a, .dropdown-menu > li > a {
    display: block;
    padding: 3px 0;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
}

html[data-bs-theme='dark'] {
    .dropdown-menu > a, .dropdown-menu > li > a {
        color: #fff;
    }
}
