.btn-group .dropdown-menu > a, .btn-group .dropdown-menu > li > a {
    display: block;
    padding: 3px 0;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
}
.btn.dropdown-toggle.daterange-dropdownbutton, .btn.dropdown-toggle.daterange-dropdownbutton:hover, .btn.dropdown-toggle.daterange-dropdownbutton:focus, .btn.dropdown-toggle.daterange-dropdownbutton:active {
    color: #202e3c !important;
    background-color: #fff;
    border: 1px solid #d2dce8;
    border-radius: 4px;
}
.card-header.with-elements {
    padding-top: 0.4375rem;
    padding-bottom: 0.4375rem;
}
.card-header.with-elements, .card-title.with-elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.dataTables_length select {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");

    background-image:
        var(--bs-form-select-bg-img),
        var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #dce7f1;
    border-radius: 0.25rem;
}
.widget-box .widget-title {
    background-color: #f8fafb;
    padding: 16px 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 4px 4px 0 0;
}
.widget-box .widget-title .buttons {
    float: right;
    margin-left: auto;
}
#error { background-color: #ebf3ff; padding: 2rem 0; min-height: 100vh; }
#error .img-error { height: 435px; object-fit: contain; padding: 3rem 0; }
#error .error-title { font-size: 3rem; margin-top: 1rem; }
html[data-bs-theme=dark] #error { background-color: #151521; }
html[data-bs-theme='dark'] {

    .dropdown-menu > a, .dropdown-menu > li > a {
        color: #fff;
    }
}
