
.form-actions {
    padding: 16px 24px;
    background: #f8fafb;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
}
.widget-box {
    background: #fff;
    border: 0;
    background-clip: padding-box;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.03), 0 1px 4px 0 rgba(0, 0, 0, 0.04), 0 3px 1px -2px rgba(0, 0, 0, 0.04);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.03), 0 1px 4px 0 rgba(0, 0, 0, 0.04), 0 3px 1px -2px rgba(0, 0, 0, 0.04);
}
.widget-box .widget-title {
    background-color: #fff;
    background-image: none;
    border-color: #e7eaec;
    border-image: none;
    line-height: 1.54;
    border-width: 0;
    border-bottom-width: 1px;
    color: inherit;
    margin-bottom: 0;
    padding: 0.875rem 1.5rem;
    min-height: 48px;
    border-radius: calc(0.125rem - 0px) calc(0.125rem - 0px) 0 0;
    border-color: rgba(24, 28, 33, 0.06);
}
.widget-box.widget-table .widget-title {
    border-width: 1px 1px 1px 1px;
}
.widget-box .widget-title span.icon {
    border-right: 0;
    margin: 0 8px 7px 0;
    padding: 0;
    opacity: 1;
}
.widget-box .widget-title.with-elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.widget-box .widget-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    line-height: inherit;
}
.widget-box .widget-title .buttons {
    float: right;
}
.widget-box .widget-content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem;
    background-color: #fff;
    color: inherit;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.widget-box:not(.widget-table) > .widget-content.nopadding {
    padding: 0;
}
.widget-box .widget-footer {
    padding: 0.875rem 1.5rem;
    background-color: transparent;
    border-top: 1px solid rgba(24, 28, 33, 0.06);
    border-color: rgba(24, 28, 33, 0.06);
}
.widget-box .widget-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}
.widget-box .widget-footer.with-elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.widget-box .widget-footer h5 {
    margin: 0;
}
.dropdown-item.active a, .dropdown-item:active a {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: var(--bs-dropdown-link-active-bg);
}
.form-actions {
    padding: 17px 20px 18px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: #eee;
    border-top: 1px solid #ddd;
}

/* nestable */

.dd-handle {
    background-image: none !important;
    background: #fff !important;
    height: 46px !important;
    line-height: 35px !important;
}
.dd-handle:hover {
    color: inherit !important;
}
.dd-handle .btn-group {
    margin-top: 0;
}
.dd-item .btn-group {
    position: absolute;
    top: 7px;
    right: 7px;
}
