*{margin:0;padding:0;}
body{font-family:Tahoma,Verdana,Arial,sans-serif;font-size:62.5%;position:relative;}
img{border:0;}
ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{clear:both;font-family:"Modata",Tahoma,Arial,sans-serif;font-weight:normal;}
hr {height:1px; color:#000000; border:1px solid #000000;}