
.modal {
    margin: 0;
}
.modal .modal-header .modal-title {
    display: inline-block;
}
.modal .modal-header .close {
    margin-left: auto;
    border: 0;
}
.modal button.close {
    border: 0;
}
.modal .modal-content {
    overflow: hidden;
}
.dataTables_wrapper {
    overflow-x: visible;
}
